

 img {
    width: 100%;
    height: 500px;
    display: none;
    object-fit: cover;
}
.active {
    display: block;
  }

.row{
    position: relative;
}

.fa-solid{
    position: absolute;
    font-size: 2.5rem;
    color: white;
}

.fa-arrow-up{
    top: 5%;
    left: 90%;
}

.fa-arrow-down{
    top: 95%;
    left: 90%;
}